# Domain
# This would be set to the production domain with an env var on deployment
# used by Traefik to transmit traffic and aqcuire TLS certificates
DOMAIN=localhost
# To test the local Traefik config
# DOMAIN=localhost.tiangolo.com

# Used by the backend to generate links in emails to the frontend
FRONTEND_HOST=http://localhost:5173
# In staging and production, set this env var to the frontend host, e.g.
# FRONTEND_HOST=https://dashboard.example.com

# Environment: local, staging, production
ENVIRONMENT=local

PROJECT_NAME="Full Stack FastAPI Project"
STACK_NAME=full-stack-fastapi-project

# Backend
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"
SECRET_KEY=changethis
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=changethis

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changethis

# Redis数据库配置参数
REDIS_HOST = "localhost"
REDIS_PORT = 6379
REDIS_DB = 0
SESSION_TIMEOUT = 300
TTL = 3600
REDIS_PASSWORD = "123456"  # <--- 新增：填写你的 Redis 密码
CELERY_BROKER_URL = f"redis://:{REDIS_PASSWORD}@{REDIS_HOST}:{REDIS_PORT}/{REDIS_DB}"
TASK_TTL = 3600

# 视频生成工作流llm默认模型，如果节点没有指定模型，默认使用这个模型
LLM_MODEL_ID=""
LLM_API_KEY=""
LLM_BASE_URL=""
# 超时时间（可选，默认60秒）
LLM_TIMEOUT=120

#多模态模型，推荐使用火山api
ARK_API_KEY=""
# 视频剪辑agent llm默认模型，如果agent没有指定模型，默认使用这个模型
MIMO_API_KEY=""

#以下内容为选填

# Emails
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

SENTRY_DSN=

#langfuse追踪配置
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_BASE_URL=""

#bilibili配置
BILI_COOKIE="your_cookie_here"
BILI_UA=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36
BILI_DEBUG=0

#热点视频解析配置
DEEPSEEK_API_KEY=""your_deepseek_key""
GEMINI_API_KEYS=key1,key2,key3
VEO_API_KEY="your_veo_key"